<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Info"
      internalLogFile=".\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets async="true">

    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
           layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="jsonFile"
          xsi:type="File"
          fileName="./myselflog-backend-${date:format=yyyy-MM-dd}.log"
          maxArchiveFiles="5"
          archiveEvery="Day"
          archiveNumbering="Date"
          concurrentWrites="true"
          keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="environment" layout="dev" />
        <attribute name="appName" layout="MySelfLog.Backend" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="callsite" layout="${callsite}" />
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
        <attribute name="projectName" layout="MySelfLog.Backend" />
      </layout>
    </target>

    <target name="MySelfLogPayload"
      xsi:type="File"
      fileName="./myselflog-backend-${date:format=yyyy-MM-dd}.log"
      maxArchiveFiles="5"
      archiveEvery="Day"
      archiveNumbering="Date"
      concurrentWrites="true"
      keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="environment" layout="dev" />
        <attribute name="appName" layout="MySelfLog.Backend" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="callsite" layout="${callsite}" />
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
        <attribute name="projectName" layout="MySelfLog.Backend" />
      </layout>
    </target>


  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="jsonFile">
      <filters>
        <when condition="starts-with('${message}','MySelfLogPayload:')" action="ignore" />
      </filters>
    </logger>
    <logger name="*" minLevel="Debug" writeTo="console">
      <filters>
        <when condition="starts-with('${message}','MySelfLogPayload:')" action="ignore" />
      </filters>
    </logger>
    <logger name="*" minLevel="Debug" writeTo="MySelfLogPayload">
      <filters>
        <when condition="not starts-with('${message}','MySelfLogPayload:')" action="ignore" />
      </filters>
    </logger>
  </rules>
</nlog>

